
$left-bar-width: 295px;

html {
  background: #f3f3f3;
  font-family: 'Roboto', sans-serif;
}

.app {
  padding-top: 3rem;
}

.left-bar {
  width: $left-bar-width;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  padding-top: 3rem;
}

.content-area {
  padding-left: $left-bar-width;
  max-width: 750px;
  min-width: 400px;
  margin-bottom: 64px;
}
